<htlm>
  <head>
    <title> what am I doing ?</title>
    <link rel="stylesheet" href="css/jquery.ui/jquery.ui.all.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" charset="utf-8"/>
  <head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script src="js/socket.io/socket.io.js"></script>
    <%- body %>
  </body>
</html>