<script src="js/main.js"></script>
<div id="wrapper">
  <div id="main-note">
    <h1>Dear me, this is what you are doing, so please... keep doing it!!!</h1>
    <content contenteditable = true > if you edit me, I'll remember you what you are doing </content>
    <div id="config">
      <span> do you want me to bother you? </span>
      <div>
        <p>
          <input type="radio" name="bother" value="yes" id="bother_me"> Yes, please I need to be notified</input>
        </p>
        <p>
          <input type="radio" name="bother" value="Butter" id="dont_bother_me" checked> No, I'll just check this page out sometimes(if I can remember it!!)</input>
        </p>
      </div>
    </div>
  </div>
  </div>